Repository sqrtxander/xanderjamescom-3.0: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, crossword-thumbnail

prettier:
  name: prettier
  entry: bunx prettier --write
  language: system

crossword-thumbnail:
  name: crossword-thumbnail
  entry: thumbnail_generation/crosswords/generate.sh
  language: system

Add 6 more mini crosswords
  src/pages/Crossword/CrosswordPuzzle.css
  src/pages/Crossword/CrosswordPuzzle.tsx
  src/pages/Crossword/minis.crossword.json
Due: prettier, crossword-thumbnail

Add the 6 crosswords' thumbnails (need to do this better all in one commit)
  public/resources/crosswords/thumbnails/minis/10.svg
  public/resources/crosswords/thumbnails/minis/11.svg
  public/resources/crosswords/thumbnails/minis/12.svg
  public/resources/crosswords/thumbnails/minis/7.svg
  public/resources/crosswords/thumbnails/minis/8.svg
  public/resources/crosswords/thumbnails/minis/9.svg
Due: none

Fix faulty clue in crossword 6
  src/pages/Crossword/minis.crossword.json
Due: prettier, crossword-thumbnail

Update pre-commit hook for crossword generation
  thumbnail_generation/crosswords/generate.sh
Due: none

Update some clues that could be better
  src/pages/Crossword/minis.crossword.json
Due: prettier, crossword-thumbnail

crosswords stash
  bun.lock
  src/App.css
  src/App.tsx
  src/components/Crossword/Cell.tsx
  src/components/Crossword/Crossword.css
  src/components/Crossword/Grid.tsx
  src/components/Header/Header.css
  src/index.css
  src/pages/Crossword2/CrosswordPuzzle.css
  src/pages/Crossword2/CrosswordPuzzle.tsx
  src/pages/Crossword2/testing.ipuz.json
  thumbnail_generation/crosswords/main.typ
Due: prettier

crosswords stash
  src/App.tsx
  src/components/Crossword/Cell.tsx
  src/pages/Crossword2/CrosswordPuzzle.tsx
  src/pages/Crossword2/testing.ipuz.json
Due: prettier

Engimarch days 1-4
  public/assets/crosswords/thumbnails/cryptics/1.svg
  public/assets/crosswords/thumbnails/minis/1.svg
  public/assets/crosswords/thumbnails/minis/10.svg
  public/assets/crosswords/thumbnails/minis/11.svg
  public/assets/crosswords/thumbnails/minis/12.svg
  public/assets/crosswords/thumbnails/minis/2.svg
  public/assets/crosswords/thumbnails/minis/3.svg
  public/assets/crosswords/thumbnails/minis/4.svg
  public/assets/crosswords/thumbnails/minis/5.svg
  public/assets/crosswords/thumbnails/minis/6.svg
  public/assets/crosswords/thumbnails/minis/7.svg
  public/assets/crosswords/thumbnails/minis/8.svg
  public/assets/crosswords/thumbnails/minis/9.svg
  public/assets/enigmarch/2026/day01.png
  public/assets/enigmarch/2026/day02.png
  public/assets/enigmarch/2026/day03.png
  public/assets/enigmarch/2026/day04.png
  src/App.tsx
  src/components/Enigmarch/AnswerChecker.tsx
  src/components/Enigmarch/Enigmarch.css
  src/components/Enigmarch/Hint.tsx
  src/components/Enigmarch/Puzzle.tsx
  src/pages/Crossword/Crossword.tsx
  src/pages/Enigmarch/Enigmarch.css
  src/pages/Enigmarch/Enigmarch.tsx
  src/pages/Enigmarch/Enigmarch2026.tsx
  thumbnail_generation/crosswords/generate.sh
Due: prettier

enigmarch added to projects list
  src/pages/HomePage/HomePage.tsx
Due: prettier

Visual changes. major change to wide css class
  src/App.css
  src/components/Enigmarch/AnswerChecker.tsx
  src/components/Enigmarch/Enigmarch.css
  src/components/Enigmarch/Hint.tsx
  src/components/Enigmarch/Puzzle.tsx
  src/components/PurelyRelate/PurelyRelate.css
  src/pages/Enigmarch/Enigmarch2026.tsx
  src/pages/HomePage/HomePage.css
  src/pages/HomePage/HomePage.tsx
  src/pages/PurelyRelate/PurelyRelate.tsx
Due: prettier

enigmarch day05 added, 'Engimarch' => 'EnigMarch', add answer check on enter
  public/assets/enigmarch/2026/day05.png
  src/components/Enigmarch/AnswerChecker.tsx
  src/pages/Enigmarch/Enigmarch.tsx
  src/pages/Enigmarch/Enigmarch2026.tsx
  src/pages/HomePage/HomePage.tsx
Due: prettier

EngiMarch day 6 and engimarch main page and project cards on home page
  public/assets/enigmarch/2026/day06.png
  public/assets/enigmarch/example.png
  src/App.css
  src/components/Enigmarch/Enigmarch.css
  src/components/Enigmarch/Puzzle.tsx
  src/components/HomePage/ProjectCard.css
  src/components/HomePage/ProjectCard.tsx
  src/pages/Enigmarch/Enigmarch.css
  src/pages/Enigmarch/Enigmarch.tsx
  src/pages/Enigmarch/Enigmarch2026.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/PurelyRelate/PurelyRelate.css
Due: prettier

EnigMarch example bettered, alignment adjustments on project cards (home page)
  src/components/Enigmarch/Example.tsx
  src/components/HomePage/ProjectCard.css
  src/components/HomePage/ProjectCard.tsx
  src/pages/Enigmarch/Enigmarch.tsx
Due: prettier

EnigMarch day 7 added
  public/assets/enigmarch/2026/day07.png
  src/pages/Enigmarch/Enigmarch2026.tsx
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(md|markdown|mdown)$
  crossword-thumbnail: any of: \.crossword\.json$
